*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header{
    padding: 15px 0;
    background-color: rgb(0, 110, 255);
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
.header_content1{
    padding: 0 50px;
    width: 50%;
    color: white;
}

.header_content1 p, i{
    display: inline;

}

.header_content2{
    width: 50%;
    text-align: right;
    padding: 0 60px;

}

.header_content2 ul{
    list-style: none;
}

.header_content2 ul li{
    display: inline;
    margin: 15px;
  
}

.header_content2 ul a{
    text-decoration: none;
    color: white;
}

.nav{
    display: flex;
    background-color: rgb(0, 92, 212);
    padding: 20px 0;

}

.logo{
    width: 30%;
    color: white;
    padding: 5px 50px;
    font-size: 25px;
}

.menu{
    width: 40%;
    padding: 23px 0;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline;
    margin: 15px;
    
}

.menu ul a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.cart{
    width: 30%;
    text-align: right;
    font-size: 20px;
    padding: 10px 70px;
    color: white;
}

.cart__item1 p,i{
    display: inline;
}

/* CAROUSEL */
.carousel{
    background-image: url(./img/b1.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
}

/* IMAGE */
.image{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    width: 70%;
    margin: 30px auto;
    grid-gap: 10px;
}

.image img{
    width: 100%;
    height: 100%;
    display: block;
}

.item__p1{
    grid-row: 1 / span 2;
}

.item__p2{
    grid-column: 2 / span 2;
}

/* PRODUCTS */
.products{
    text-align: center;
    background-color: rgb(248, 242, 242);
}

.products h2{
    /* display: block; */
    font-size: 40px;
    padding-top: 40px;
    color: rgb(47, 134, 240);
}

.product__content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 70%;
    margin: 0px auto;
    grid-gap: 10px;
    padding: 30px 0;
}

.product__content strike{
    color: rgba(128, 128, 128, 0.8);
}

.product__item{
    border: solid rgba(128, 128, 128, 0.2);
    margin: 5px;
}

.product__item img{
    width: 100%;
    height: 100%;
}

.product__detail h3,p1,p2{
    display: block;
}

.product__detail p2{
    font-size: 12px;
}

.product__detail h3{
    color: rgb(47, 134, 240);
    padding: 15px 0;
}

.product__detail button{
    color: rgb(149, 192, 248);
    border-color: rgb(255, 118, 68);
    padding: 5px 10px;
    margin-bottom: 5px;
}

/* DISCOUNT */

.discount{
    background-image: url(./img/ban1.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.discount__content h2{
    font-size: 40px;
    font-weight: normal;
}

.discount__content h1{
    font-size: 60px;
    font-weight: normal;
    padding: 30px 0;
}

.discount__content button{
    background-color: rgb(224, 143, 113);
    padding: 5px 10px;
    color: white;
}

/* NEW PRODUCTS */
.newproducts{
    text-align: center;
}

.newproducts h2{
    /* display: block; */
    font-size: 40px;
    padding-top: 40px;
    color: rgb(47, 134, 240);
}

/* TREND */
.trend{
    background-color: rgb(248, 242, 242);
    text-align: center;
    padding: 50px 0;
}

.trend h2{
    color: rgb(0, 110, 255);
    padding: 20px 0;
    font-size: 40px;
}

.trend__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
    margin: 0 auto;
    gap: 20px;
}

.trend__content img{
    width: 100%;
    height: 100%;
    display: block;
}

.trend__detail{
    position: relative;
}

.trend__gender{
    position: absolute;
    color: white;
    bottom: 0;
    padding: 10px 0;
    background-color: rgba(0, 110, 255, 0.5);
    width: 100%;
}

.trend__percentage{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    background-color: rgb(0, 110, 255);
    padding: 10px 10px;
    border-radius: 50%;
}

/* CONTACT */
.contact{
    background-color: rgb(22, 101, 192);
    color: white;
    padding: 20px 0;
}

.contact__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 70%;
    margin: 0 auto;
    grid-gap: 10px;
}

.contact__detail h3{
    padding-bottom: 10px;
}

.contact__detail p,li{
    margin: 10px 0;
    font-size: 14px;
}

.contact__detail ul{
    list-style: none;
}

.contact__detail a{
    color: white;
    text-decoration: none;
}

/* PAYMENT */
.payment{
    /* display: flex; */
    background-color: black;
    height: 60px;
    /* position: relative; */
}

.payment__content {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.payment__content p{
    color: white;
    position: absolute;
    top: 15px;
}

.payment__content img{
    position: absolute;
    right: 0;
    top: 15px;
}
